/* ===== Custom Server Logos ===== */

/* == Center Logos == */
div.name-3Uvkvr:after {
    display: flex;
    justify-content: center;
    top: 50%;
    bottom: 50%;
    transform: translateY(-12%);
    position: relative;
}

/* == Don't hide server header under server banner == */
div[data-guild-id] header {
    opacity: 1 !important;
    z-index: 1 !important;
}

/* == Fix server options dropdown icon animation == */
.button-2BMPJJ.open-3fGK6o {
    -webkit-transform: translate3d(0,-3px,0) rotate(-90deg) !important;
    transform: translate3d(0,-3px,0) rotate(-90deg) !important;
}

.button-2BMPJJ {
    -webkit-transition: stroke-dasharray .2s ease-out,-webkit-transform .2s ease-out !important;
    transition: stroke-dasharray .2s ease-out,-webkit-transform .2s ease-out !important;
    transition: transform .2s ease-out,stroke-dasharray .2s ease-out !important;
    transition: transform .2s ease-out,stroke-dasharray .2s ease-out,-webkit-transform .2s ease-out !important;
}

/* == Shrink server banners to header instead of disappearing == */
[class*="animatedContainer-"] {
    opacity: 1 !important;
    transition: opacity .5s, blur .5s;
}
[class*="animatedContainer-"] > [class*="bannerImage-"] {
    transition: margin .5s;
}
:not([class*="bannerVisible-"]) > [class*="animatedContainer-"] {
    opacity: .35 !important;
    filter: blur(5px);
    height: 138px;
}
:not([class*="bannerVisible-"]) > [class*="animatedContainer-"] > [class*="bannerImage-"] {
    margin-top: -12px;
}

/* Main Server */
div[data-guild-id="895642817995632682"] header svg.button-2BMPJJ {
    transform: translate3d(0,3px,0) rotate(0deg) !important;
}

div[data-guild-id="895642817995632682"] header svg.button-2BMPJJ.open-3fGK6o {
    transform: translate3d(0,0px,0) rotate(-90deg) !important;
}

div[data-guild-id="895642817995632682"] header div.name-3Uvkvr {
    font-size: 0px;
    transform: translate(1.5%, 3%);
}

div[data-guild-id="895642817995632682"] header div.name-3Uvkvr:after {
    content: url("https://kckarnige.is-a.dev/custom-server-logos/res/main_server_uwu.svg");
}
	
div[data-guild-id="895642817995632682"] header div.guildIconContainer-3QvE6w {
    transform: translate(-6%, 6%)
}

/* Lighty Emojis */
div[data-guild-id="831170964237713479"] header svg.button-2BMPJJ {
    transform: translate3d(0,3px,0) rotate(0deg) !important;
}

div[data-guild-id="831170964237713479"] header svg.button-2BMPJJ.open-3fGK6o {
    transform: translate3d(0,0px,0) rotate(-90deg) !important;
}

div[data-guild-id="831170964237713479"] header div.name-3Uvkvr {
    font-size: 0px;
    transform: translate(1.5%, 3%);
}

div[data-guild-id="831170964237713479"] header div.name-3Uvkvr:after {
    content: url("https://kckarnige.is-a.dev/custom-server-logos/res/lighty_server-wordmark.svg");
}
	
div[data-guild-id="831170964237713479"] header div.guildIconContainer-3QvE6w {
    transform: translate(-6%, 6%)
}

/* BetterDiscord */
div[data-guild-id="86004744966914048"] header svg.button-2BMPJJ {
    transform: translate3d(0,3px,0) rotate(0deg) !important;
}

div[data-guild-id="86004744966914048"] header svg.button-2BMPJJ.open-3fGK6o {
    transform: translate3d(0,0px,0) rotate(-90deg) !important;
}

div[data-guild-id="86004744966914048"] header div.name-3Uvkvr {
    font-size: 0px;
    transform: translate(1.5%, 3%);
}

div[data-guild-id="86004744966914048"] header div.name-3Uvkvr:after {
    content: url("https://kckarnige.is-a.dev/custom-server-logos/res/betterdiscord_server-wordmark.svg");
}
	
div[data-guild-id="86004744966914048"] header div.guildIconContainer-3QvE6w {
    transform: translate(-6%, 6%)
}

/* BetterDiscord 2 */
div[data-guild-id="280806472928198656"] header svg.button-2BMPJJ {
    transform: translate3d(0,3px,0) rotate(0deg) !important;
}

div[data-guild-id="280806472928198656"] header svg.button-2BMPJJ.open-3fGK6o {
    transform: translate3d(0,0px,0) rotate(-90deg) !important;
}

div[data-guild-id="280806472928198656"] header div.name-3Uvkvr {
    font-size: 0px;
    transform: translate(1.5%, 3%);
}

div[data-guild-id="280806472928198656"] header div.name-3Uvkvr:after {
    content: url("https://kckarnige.is-a.dev/custom-server-logos/res/betterdiscord2_server-wordmark.svg");
}
	
div[data-guild-id="280806472928198656"] header div.guildIconContainer-3QvE6w {
    transform: translate(-6%, 6%)
}

/* Powercord */
div[data-guild-id="538759280057122817"] header svg.button-2BMPJJ {
    transform: translate3d(0,3px,0) rotate(0deg) !important;
}

div[data-guild-id="538759280057122817"] header svg.button-2BMPJJ.open-3fGK6o {
    transform: translate3d(0,0px,0) rotate(-90deg) !important;
}

div[data-guild-id="538759280057122817"] header div.name-3Uvkvr {
    font-size: 0px;
    transform: translate(1.5%, 3%);
}

div[data-guild-id="538759280057122817"] header div.name-3Uvkvr:after {
    content: url("https://kckarnige.is-a.dev/custom-server-logos/res/powercord_server-wordmark.svg");
}
	
div[data-guild-id="538759280057122817"] header div.guildIconContainer-3QvE6w {
    transform: translate(-6%, 6%)
}

/* GooseNest */
div[data-guild-id="756146058320674998"] header svg.button-2BMPJJ {
    transform: translate3d(0,3px,0) rotate(0deg) !important;
}

div[data-guild-id="756146058320674998"] header svg.button-2BMPJJ.open-3fGK6o {
    transform: translate3d(0,0px,0) rotate(-90deg) !important;
}

div[data-guild-id="756146058320674998"] header div.name-3Uvkvr {
    font-size: 0px;
    transform: translate(1.5%, 3%);
}

div[data-guild-id="756146058320674998"] header div.name-3Uvkvr:after {
    content: url("https://kckarnige.is-a.dev/custom-server-logos/res/goosenest_server-wordmark.svg");
}
	
div[data-guild-id="756146058320674998"] header div.guildIconContainer-3QvE6w {
    transform: translate(-6%, 6%)
}

/* GooseNest but on GooseMod */
.goosemod div[data-guild-id="756146058320674998"] header div.name-3Uvkvr:after {
    content: url("https://kckarnige.is-a.dev/custom-server-logos/res/goosenest_server-wordmark-nogoose.svg") !important;
}

/* ArmCord */
div[data-guild-id="820732039253852171"] header svg.button-2BMPJJ {
    transform: translate3d(0,3px,0) rotate(0deg) !important;
}

div[data-guild-id="820732039253852171"] header svg.button-2BMPJJ.open-3fGK6o {
    transform: translate3d(0,0px,0) rotate(-90deg) !important;
}

div[data-guild-id="820732039253852171"] header div.name-3Uvkvr {
    font-size: 0px;
    transform: translate(1.5%, 3%);
}

div[data-guild-id="820732039253852171"] header div.name-3Uvkvr:after {
    content: url("https://kckarnige.is-a.dev/custom-server-logos/res/armcord_server-wordmark.svg");
}
	
div[data-guild-id="820732039253852171"] header div.guildIconContainer-3QvE6w {
    transform: translate(-6%, 6%)
}

div[data-guild-id="820732039253852171"] {
    background: var(--background-modifier-hover);
}

/* Arc | Minecraft Cosmetics */
div[data-guild-id="779760211522224138"] header svg.button-2BMPJJ {
    transform: translate3d(0,3px,0) rotate(0deg) !important;
}

div[data-guild-id="779760211522224138"] header svg.button-2BMPJJ.open-3fGK6o {
    transform: translate3d(0,0px,0) rotate(-90deg) !important;
}

div[data-guild-id="779760211522224138"] header div.name-3Uvkvr {
    font-size: 0px;
    transform: translate(1.5%, 3%);
}

div[data-guild-id="779760211522224138"] header div.name-3Uvkvr:after {
    content: url("https://kckarnige.is-a.dev/custom-server-logos/res/arc_server-watermark.svg");
}
	
div[data-guild-id="779760211522224138"] header div.guildIconContainer-3QvE6w {
    transform: translate(-6%, 6%)
}

/* Hun & Bun | Private Server */
div[data-guild-id="868523001921028206"] header svg.button-2BMPJJ {
    transform: translate3d(0,3px,0) rotate(0deg) !important;
}

div[data-guild-id="868523001921028206"] header svg.button-2BMPJJ.open-3fGK6o {
    transform: translate3d(0,0px,0) rotate(-90deg) !important;
}

div[data-guild-id="868523001921028206"] header div.name-3Uvkvr {
    font-size: 0px;
    transform: translate(1.5%, 3%);
}

div[data-guild-id="868523001921028206"] header div.name-3Uvkvr:after {
    content: url("https://kckarnige.is-a.dev/custom-server-logos/res/hun&bun_priv_server-wordmark.svg");
}
	
div[data-guild-id="868523001921028206"] header div.guildIconContainer-3QvE6w {
    transform: translate(-6%, 6%)
}

/* Hypixel Discord Chat */
div[data-guild-id="489529070913060867"] header svg.button-2BMPJJ {
    transform: translate3d(0,3px,0) rotate(0deg) !important;
}

div[data-guild-id="489529070913060867"] header svg.button-2BMPJJ.open-3fGK6o {
    transform: translate3d(0,0px,0) rotate(-90deg) !important;
}

div[data-guild-id="489529070913060867"] header div.name-3Uvkvr {
    font-size: 0px;
    transform: translate(1.5%, 55%);
}

div[data-guild-id="489529070913060867"] header div.name-3Uvkvr:after {
    content: url("https://kckarnige.is-a.dev/custom-server-logos/res/hypixel_chat_server-wordmark.svg");
}

div[data-guild-id="489529070913060867"] header div.guildIconContainer-3QvE6w {
    transform: translate(-6%, 6%)
}

/* Stare Emojis Server */
div[data-guild-id="877624488341168138"] header svg.button-2BMPJJ {
    transform: translate3d(0,3px,0) rotate(0deg) !important;
}

div[data-guild-id="877624488341168138"] header svg.button-2BMPJJ.open-3fGK6o {
    transform: translate3d(0,0px,0) rotate(-90deg) !important;
}

div[data-guild-id="877624488341168138"] header div.name-3Uvkvr {
    font-size: 0px;
    transform: translate(1.5%, 3%);
}

div[data-guild-id="877624488341168138"] header div.name-3Uvkvr:after {
    content: url("https://kckarnige.is-a.dev/custom-server-logos/res/stare_emojis_server-wordmark.svg");
}
	
div[data-guild-id="877624488341168138"] header div.guildIconContainer-3QvE6w {
    transform: translate(-6%, 6%)
}

/* Undertale Corrupted Server */
div[data-guild-id="923317188058812417"] header svg.button-2BMPJJ {
    transform: translate3d(0,3px,0) rotate(0deg) !important;
}

div[data-guild-id="923317188058812417"] header svg.button-2BMPJJ.open-3fGK6o {
    transform: translate3d(0,0px,0) rotate(-90deg) !important;
}

div[data-guild-id="923317188058812417"] header div.name-3Uvkvr {
    font-size: 0px;
    transform: translate(1.5%, 3%);
}

div[data-guild-id="923317188058812417"] header div.name-3Uvkvr:after {
    content: url("https://kckarnige.is-a.dev/custom-server-logos/res/utc_server-wordmark.svg");
}
	
div[data-guild-id="923317188058812417"] header div.guildIconContainer-3QvE6w {
    transform: translate(-6%, 6%)
}

/* Project PS */
div[data-guild-id="810920173464846407"] header svg.button-2BMPJJ {
    transform: translate3d(0,3px,0) rotate(0deg) !important;
}

div[data-guild-id="810920173464846407"] header svg.button-2BMPJJ.open-3fGK6o {
    transform: translate3d(0,0px,0) rotate(-90deg) !important;
}

div[data-guild-id="810920173464846407"] header div.name-3Uvkvr {
    font-size: 0px;
    transform: translate(1.5%, 3%);
}

div[data-guild-id="810920173464846407"] header div.name-3Uvkvr:after {
    content: url("https://kckarnige.is-a.dev/custom-server-logos/res/projectps_server-wordmark.svg");
}
	
div[data-guild-id="810920173464846407"] header div.guildIconContainer-3QvE6w {
    transform: translate(-6%, 6%)
}

/* Cumcord */
div[data-guild-id="824921608560181258"] header svg.button-2BMPJJ {
    transform: translate3d(0,3px,0) rotate(0deg) !important;
}

div[data-guild-id="824921608560181258"] header svg.button-2BMPJJ.open-3fGK6o {
    transform: translate3d(0,0px,0) rotate(-90deg) !important;
}

div[data-guild-id="824921608560181258"] header div.name-3Uvkvr {
    font-size: 0px;
    transform: translate(1.5%, 3%);
}

div[data-guild-id="824921608560181258"] header div.name-3Uvkvr:after {
    content: url("https://kckarnige.is-a.dev/custom-server-logos/res/cumcord_server-wordmark.svg");
}
	
div[data-guild-id="824921608560181258"] header div.guildIconContainer-3QvE6w {
    transform: translate(-6%, 6%)
}
/* Colonial High Gaming Club */
div[data-guild-id="1009892699660365825"] header svg.button-2BMPJJ {
    transform: translate3d(0,3px,0) rotate(0deg) !important;
}

div[data-guild-id="1009892699660365825"] header svg.button-2BMPJJ.open-3fGK6o {
    transform: translate3d(0,0px,0) rotate(-90deg) !important;
}

div[data-guild-id="1009892699660365825"] header div.name-3Uvkvr {
    font-size: 0px;
    transform: translate(1.5%, 3%);
}

div[data-guild-id="1009892699660365825"] header div.name-3Uvkvr:after {
    content: url("https://kckarnige.is-a.dev/custom-server-logos/res/chsgayclob_server-wordmark.svg");
}
	
div[data-guild-id="1009892699660365825"] header div.guildIconContainer-3QvE6w {
    transform: translate(-6%, 6%)
}


/* == jsyk it's installed uwu == */
a.embedTitle-2n1pEb[href*="https://kckarnige.is-a.dev/custom-server-logos"]:after, a.embedTitle-2n1pEb[href*="https://github.com/kckarnige/custom-server-logos"]:after, a.embedTitle-2n1pEb[href*="https://chrome.google.com/webstore/detail/discord-server-logos/lnebdlajjbkilmadjeicejnblepglbci"]:after {
    content: "Installed";
    background: var(--brand-experiment);
    border-radius: 4px;
    margin-left: 5px;
    padding-right: 3px;
    padding-left: 3px;
    color: #fff;
    font-size: 10px;
    line-height: 15px;
    text-transform: uppercase;
    font-weight: 500;
    white-space: nowrap;
    position: relative;
    -webkit-transition: background-color .17s ease, color .17s ease;
    transition: background-color .17s ease, color .17s ease;
}

a.embedTitle-2n1pEb[href*="https://kckarnige.is-a.dev/custom-server-logos"]:hover:after, a.embedTitle-2n1pEb[href*="https://github.com/kckarnige/custom-server-logos"]:hover:after, a.embedTitle-2n1pEb[href*="https://chrome.google.com/webstore/detail/discord-server-logos/lnebdlajjbkilmadjeicejnblepglbci"]:hover:after {
    background: var(--brand-experiment-560);
    -webkit-transition: background-color .17s ease, color .17s ease;
    transition: background-color .17s ease, color .17s ease;
}
