/* ===== Custom Server Logos ===== */

/* == Center Logos == */
h1.name-1jkAdW:after {
    display: flex;
    justify-content: center;
    transform: translateY(-22%);
    position: relative;
}

/* == Don't hide server header under server banner == */
header[data-guild-id] {
    opacity: 1 !important;
    z-index: 1 !important;
}

/* == Fix server options dropdown icon animation == */
.button-1w5pas.open-1Te94t {
    -webkit-transform: translate3d(0,-3px,0) rotate(-90deg) !important;
    transform: translate3d(0,-3px,0) rotate(-90deg) !important;
}

/* == Shrink server banners to header instead of disappearing == */
[class*="animatedContainer-"] {
    opacity: 1 !important;
    transition: opacity .5s;
}
[class*="animatedContainer-"] > [class*="bannerImage-"] {
    transition: margin .5s;
}
:not([class*="bannerVisible-"]) > [class*="animatedContainer-"] {
    opacity: .35 !important;
    height: 138px;
}
:not([class*="bannerVisible-"]) > [class*="animatedContainer-"] > [class*="bannerImage-"] {
    margin-top: -12px;
}

/* Lighty Emojis */
header[data-guild-id="831170964237713479"] > svg.button-1w5pas {
    transform: translateY(5%);
}

header[data-guild-id="831170964237713479"] > h1.name-1jkAdW {
    font-size: 0px;
    transform: translate(1.5%, 3%);
}

header[data-guild-id="831170964237713479"] > h1.name-1jkAdW:after {
    content: url("https://kckarnige.is-a.dev/custom-server-logos/res/lighty_server-wordmark.svg");
}

header[data-guild-id="831170964237713479"] > div.guildIconContainer-2FW_iA {
    transform: translate(-6%, 6%)
}

/* Lightcord (Now with 99% less virus 😳) */
header[data-guild-id="705908350218666117"] > svg.button-1w5pas {
    transform: translateY(5%);
}

header[data-guild-id="705908350218666117"] > h1.name-1jkAdW {
    font-size: 0px;
    transform: translate(1.5%, 3%);
}

header[data-guild-id="705908350218666117"] > h1.name-1jkAdW:after {
    content: url("https://kckarnige.is-a.dev/custom-server-logos/res/lightcord_server-wordmark.svg");
}

header[data-guild-id="705908350218666117"] > div.guildIconContainer-2FW_iA {
    transform: translate(-6%, 6%)
}

/* BetterDiscord */
header[data-guild-id="86004744966914048"] > svg.button-1w5pas {
    transform: translateY(5%);
}

header[data-guild-id="86004744966914048"] > h1.name-1jkAdW {
    font-size: 0px;
    transform: translate(1.5%, 3%);
}

header[data-guild-id="86004744966914048"] > h1.name-1jkAdW:after {
    content: url("https://kckarnige.is-a.dev/custom-server-logos/res/betterdiscord_server-wordmark.svg");
}

header[data-guild-id="86004744966914048"] > div.guildIconContainer-2FW_iA {
    transform: translate(-6%, 6%)
}

/* BetterDiscord2 */
header[data-guild-id="280806472928198656"] > svg.button-1w5pas {
    transform: translateY(5%);
}

header[data-guild-id="280806472928198656"] > h1.name-1jkAdW {
    font-size: 0px;
    transform: translate(1.5%, 3%);
}

header[data-guild-id="280806472928198656"] > h1.name-1jkAdW:after {
    content: url("https://kckarnige.is-a.dev/custom-server-logos/res/betterdiscord2_server-wordmark.svg");
}

header[data-guild-id="280806472928198656"] > div.guildIconContainer-2FW_iA {
    transform: translate(-6%, 6%)
}

/* Powercord */
header[data-guild-id="538759280057122817"] > svg.button-1w5pas {
    transform: translateY(5%);
}

header[data-guild-id="538759280057122817"] > h1.name-1jkAdW {
    font-size: 0px;
    transform: translate(1.5%, 3%);
}

header[data-guild-id="538759280057122817"] > h1.name-1jkAdW:after {
    content: url("https://kckarnige.is-a.dev/custom-server-logos/res/powercord_server-wordmark.svg");
}

header[data-guild-id="538759280057122817"] > div.guildIconContainer-2FW_iA {
    transform: translate(-6%, 6%)
}

/* GooseNest */
header[data-guild-id="756146058320674998"] > svg.button-1w5pas {
    transform: translateY(5%);
}

header[data-guild-id="756146058320674998"] > h1.name-1jkAdW {
    font-size: 0px;
    transform: translate(1.5%, 3%);
}

header[data-guild-id="756146058320674998"] > h1.name-1jkAdW:after {
    content: url("https://kckarnige.is-a.dev/custom-server-logos/res/goosenest_server-wordmark.svg");
}

header[data-guild-id="756146058320674998"] > div.guildIconContainer-2FW_iA {
    transform: translate(-6%, 6%)
}

/* ArmCord + Smartcord */
header[data-guild-id="820732039253852171"] > svg.button-1w5pas {
    transform: translateY(5%);
}

header[data-guild-id="820732039253852171"] > h1.name-1jkAdW {
    font-size: 0px;
    transform: translate(1.5%, 3%);
}

header[data-guild-id="820732039253852171"] > h1.name-1jkAdW:after {
    content: url("https://kckarnige.is-a.dev/custom-server-logos/res/ac+sc_server-wordmark.svg");
}

header[data-guild-id="820732039253852171"] > div.guildIconContainer-2FW_iA {
    transform: translate(-6%, 6%)
}

/* Arc | Minecraft Cosmetics */
header[data-guild-id="779760211522224138"] > svg.button-1w5pas {
    transform: translateY(5%);
}

header[data-guild-id="779760211522224138"] > h1.name-1jkAdW {
    font-size: 0px;
    transform: translate(1.5%, 3%);
}

header[data-guild-id="779760211522224138"] > h1.name-1jkAdW:after {
    content: url("https://kckarnige.is-a.dev/custom-server-logos/res/arc_server-watermark.svg");
}

header[data-guild-id="779760211522224138"] > div.guildIconContainer-2FW_iA {
    transform: translate(-6%, 6%)
}

/* Hun & Bun | Private Server */
header[data-guild-id="868523001921028206"] > svg.button-1w5pas {
    transform: translateY(5%);
}

header[data-guild-id="868523001921028206"] > h1.name-1jkAdW {
    font-size: 0px;
    transform: translate(1.5%, 3%);
}

header[data-guild-id="868523001921028206"] > h1.name-1jkAdW:after {
    content: url("https://kckarnige.is-a.dev/custom-server-logos/res/hun&bun_priv_server-wordmark.svg");
}

header[data-guild-id="868523001921028206"] > div.guildIconContainer-2FW_iA {
    transform: translate(-6%, 6%)
}

/* NebulaMC Network */
header[data-guild-id="840441097041084446"] > svg.button-1w5pas {
    transform: translateY(5%);
}

header[data-guild-id="840441097041084446"] > h1.name-1jkAdW {
    font-size: 0px;
    transform: translate(1.5%, 3%);
}

header[data-guild-id="840441097041084446"] > h1.name-1jkAdW:after {
    content: url("https://kckarnige.is-a.dev/custom-server-logos/res/nebulamc_server-wordmark.svg");
}

header[data-guild-id="840441097041084446"] > div.guildIconContainer-2FW_iA {
    transform: translate(-6%, 6%)
}


/* Hypixel Discord Chat */
header[data-guild-id="489529070913060867"] > svg.button-1w5pas {
    transform: translateY(5%);
}

header[data-guild-id="489529070913060867"] > h1.name-1jkAdW {
    font-size: 0px;
    transform: translate(1.5%, 55%);
}

header[data-guild-id="489529070913060867"] > h1.name-1jkAdW:after {
    content: url("https://kckarnige.is-a.dev/custom-server-logos/res/hypixel_chat_server-wordmark.svg");
}

header[data-guild-id="489529070913060867"] > div.guildIconContainer-2FW_iA {
    transform: translate(-6%, 6%)
}

/* == jsyk it's installed uwu == */
a.embedTitle-3OXDkz[href*="https://kckarnige.is-a.dev/custom-server-logos"]:after, a.embedTitle-3OXDkz[href*="https://github.com/kckarnige/custom-server-logos"]:after {
    content: "Installed";
    background: var(--brand-experiment);
    border-radius: 4px;
    margin-left: 5px;
    padding-right: 3px;
    padding-left: 3px;
    color: #fff;
    font-size: 10px;
    line-height: 15px;
    text-transform: uppercase;
    font-weight: 500;
    white-space: nowrap;
    position: relative;
    -webkit-transition: background-color .17s ease, color .17s ease;
    transition: background-color .17s ease, color .17s ease;
}

a.embedTitle-3OXDkz[href*="https://kckarnige.is-a.dev/custom-server-logos"]:hover:after, a.embedTitle-3OXDkz[href*="https://github.com/kckarnige/custom-server-logos"]:hover:after {
    background: var(--brand-experiment-560);
    -webkit-transition: background-color .17s ease, color .17s ease;
    transition: background-color .17s ease, color .17s ease;
}
