/* ===== Custom Server Logos ===== */

/* Lighty Emojis */
header[data-guild-id="831170964237713479"] > svg.button-1w5pas {
    transform: translateY(5%);
}

header[data-guild-id="831170964237713479"] > h1.name-1jkAdW {
    font-size: 0px;
    transform: translate(1.5%, 3%);
}

header[data-guild-id="831170964237713479"] > h1.name-1jkAdW:after {
    content: url("https://kckarnige.github.io/custom-server-logos/res/lighty_server-wordmark.svg");
}

header[data-guild-id="831170964237713479"] > div.guildIconContainer-2FW_iA {
    transform: translate(-6%, 6%)
}

/* Lightcord (Now with 99% less virus 😳) */
header[data-guild-id="705908350218666117"] > svg.button-1w5pas {
    transform: translateY(5%);
}

header[data-guild-id="705908350218666117"] > h1.name-1jkAdW {
    font-size: 0px;
    transform: translate(1.5%, 3%);
}

header[data-guild-id="705908350218666117"] > h1.name-1jkAdW:after {
    content: url("https://kckarnige.github.io/custom-server-logos/res/lightcord_server-wordmark.svg");
}

header[data-guild-id="705908350218666117"] > div.guildIconContainer-2FW_iA {
    transform: translate(-6%, 6%)
}

/* BetterDiscord */
header[data-guild-id="86004744966914048"] > svg.button-1w5pas {
    transform: translateY(5%);
}

header[data-guild-id="86004744966914048"] > h1.name-1jkAdW {
    font-size: 0px;
    transform: translate(1.5%, 3%);
}

header[data-guild-id="86004744966914048"] > h1.name-1jkAdW:after {
    content: url("https://kckarnige.github.io/custom-server-logos/res/betterdiscord_server-wordmark.svg");
}

header[data-guild-id="86004744966914048"] > div.guildIconContainer-2FW_iA {
    transform: translate(-6%, 6%)
}

/* BetterDiscord2 */
header[data-guild-id="280806472928198656"] > svg.button-1w5pas {
    transform: translateY(5%);
}

header[data-guild-id="280806472928198656"] > h1.name-1jkAdW {
    font-size: 0px;
    transform: translate(1.5%, 3%);
}

header[data-guild-id="280806472928198656"] > h1.name-1jkAdW:after {
    content: url("https://kckarnige.github.io/custom-server-logos/res/betterdiscord2_server-wordmark.svg");
}

header[data-guild-id="280806472928198656"] > div.guildIconContainer-2FW_iA {
    transform: translate(-6%, 6%)
}

/* Powercord */
header[data-guild-id="538759280057122817"] > svg.button-1w5pas {
    transform: translateY(5%);
}

header[data-guild-id="538759280057122817"] > h1.name-1jkAdW {
    font-size: 0px;
    transform: translate(1.5%, 3%);
}

header[data-guild-id="538759280057122817"] > h1.name-1jkAdW:after {
    content: url("https://kckarnige.github.io/custom-server-logos/res/powercord_server-wordmark.svg");
}

header[data-guild-id="538759280057122817"] > div.guildIconContainer-2FW_iA {
    transform: translate(-6%, 6%)
}

header[data-guild-id="538759280057122817"] > .powercord-badge {
    display: none;
}

/* Powercord (Porkcord Badge Fix) */
.powercord header[data-guild-id="538759280057122817"] > svg.button-1w5pas {
    transform: translateY(5%);
}

.powercord header[data-guild-id="538759280057122817"] > h1.name-1jkAdW {
    font-size: 0px;
    transform: translate(-6%, 3%);
}

.powercord header[data-guild-id="538759280057122817"] > h1.name-1jkAdW:before {
    content: url("https://kckarnige.github.io/custom-server-logos/res/powercord_server-wordmark.svg");
}

.powercord header[data-guild-id="538759280057122817"] > div.guildIconContainer-2FW_iA {
    transform: translate(-6%, 6%)
}

/* GooseNest */
header[data-guild-id="756146058320674998"] > svg.button-1w5pas {
    transform: translateY(5%);
}

header[data-guild-id="756146058320674998"] > h1.name-1jkAdW {
    font-size: 0px;
    transform: translate(1.5%, 3%);
}

header[data-guild-id="756146058320674998"] > h1.name-1jkAdW:after {
    content: url("https://kckarnige.github.io/custom-server-logos/res/goosenest_server-wordmark.svg");
}

header[data-guild-id="756146058320674998"] > div.guildIconContainer-2FW_iA {
    transform: translate(-6%, 6%)
}

/* ArmCord + Smartcord */
header[data-guild-id="820732039253852171"] > svg.button-1w5pas {
    transform: translateY(5%);
}

header[data-guild-id="820732039253852171"] > h1.name-1jkAdW {
    font-size: 0px;
    transform: translate(1.5%, 3%);
}

header[data-guild-id="820732039253852171"] > h1.name-1jkAdW:after {
    content: url("https://kckarnige.github.io/custom-server-logos/res/ac+sc_server-wordmark.svg");
}

header[data-guild-id="820732039253852171"] > div.guildIconContainer-2FW_iA {
    transform: translate(-6%, 6%)
}

/* Arc | Minecraft Cosmetics */
header[data-guild-id="779760211522224138"] > svg.button-1w5pas {
    transform: translateY(5%);
}

header[data-guild-id="779760211522224138"] > h1.name-1jkAdW {
    font-size: 0px;
    transform: translate(1.5%, 3%);
}

header[data-guild-id="779760211522224138"] > h1.name-1jkAdW:after {
    content: url("https://kckarnige.github.io/custom-server-logos/res/arc_server-watermark.svg");
}

header[data-guild-id="779760211522224138"] > div.guildIconContainer-2FW_iA {
    transform: translate(-6%, 6%)
}
